{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": [
      "eslint:recommended",
      "airbnb",
      "airbnb/hooks",
      "plugin:@typescript-eslint/recommended",
      "prettier"
    ],
    "env": {
      "es6": true,
      "browser": true
    },
    "parserOptions": {
      "sourceType": "module",
      "ecmaVersion": "latest",
      "ecmaFeatures": {
        "jsx": true
      }
    },
    "settings": {
      "import/extensions": [
        ".ts",
        ".tsx"
      ]
    }
}  